<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CircularSpinnerExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>955D10F31D8A7C7300C4C41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955D11071D8A7C7300C4C41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955D11121D8A7C7300C4C41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
